 @model IEnumerable<Course>
@using Online_Course_Portal_Web.Models
@using Online_Course_Portal_DataAccess.Model
<h2>No Action Courses</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Seats Available</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.courseName</td>
                    <td>@course.AvailableSeats</td>
                    <td>
                        <form asp-action="CourseApproved" method="post">
                           
                            <input type="hidden" name="id" value="@course.Id" />
                            <button type="submit">Approve</button>
                        </form>
                        <form asp-action="CourseRejected" method="post">
                            <input type="hidden" name="id" value="@course.Id" />
                            <button type="submit">Reject</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Course found.</p>
}
